body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.content {
  flex: 1;
  overflow: auto;
  background-color: #efefef;

  .header {
    height: 12%;
    border-bottom: #cccccc solid 0.063rem;
    overflow: hidden;
    display: flex;
    position: sticky;
    top: 0;

    .search-content {
      flex: 1;
      position: relative;

      .search-icons {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        padding: 0 1.25rem 0 3.75rem;
      }

    }
  }

  .brands {
    padding: 25px;
    .brand {
      border: 1px solid black;
      padding: 20px;
      background-color: white;
      margin-bottom: 1%;
      border-radius: 1%;
      overflow: hidden;

      h5 {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 26px;
        line-height: 2;
      }

      &-colors {
        display: flex;
        span {
          background: var(--bgColor);
          color: var(--Color);
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
        }
      }

    }
  }
}

a {
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    color: #0099e5;
  }
}

.sidebar {
  width: 20rem;
  min-width: 20rem;
  border-right: 0.063rem solid #ccc;
  padding: 1.563rem;

  .logo {
    margin-bottom: 1.563rem;

    a {
      font-size: 30px;
    }
  }

  .description {
    font-size: 18px;
    line-height: 1.7;
    color: #999;
    margin-bottom: 25px;
  }

  .menus {
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333
        }
      }
    }
  }
}

.about-modal {
  width: 720px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(#000, .1);
  padding: 50px;
  position: relative;
  overflow: hidden;

  .about-btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #999999;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      transform: scale(1.2);
      transition-delay: 1s;
    }

    &:active {
      cursor: grabbing;
    }
  }

  svg {
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }

  svg:hover {
    transform: scale(1.4);
    transition-delay: 1s;

  }

  h3 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
  }

}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.8);
}
